aplathost=91.195.226.45
aplatport=443
aplatprotocol=https

aplattumarprofile=FSystem
aplattumarprofilepassword=
aplattumarserial=5B4*********69E29
aplatterminal=10***
aplatterminaluser=15**
aplatterminalpassword=*******
aplatonlinecheckurl=http://91.195.226.47/GetUaRequest2/

cbsdbdriver=oracle.jdbc.driver.OracleDriver
cbsjdbc=jdbc:oracle:thin:@10.****:1521:****
cbsuser=IE_****
cbspassword=**************


bssdbdriver=oracle.jdbc.driver.OracleDriver
bssjdbc=jdbc:oracle:thin:@********:1521:ifi****
bssuser=AAlmas
bsspassword=2010+Erwin

w4dbdriver=oracle.jdbc.driver.OracleDriver
w4jdbc=jdbc:oracle:thin:@*******:1540:CR****
w4user=*******
w4password==*******
w4procgetcontract=bwx.opt_spm.kansas_get_contracts
w4procgetstmt=bwx.opt_spm.kansas_get_stmt
w4allowcreditlist=58888,38888
w4uterminal=00000099

capurl=http://*******:8181/cxf/SOAPService


#Укажите список допустимых IP(разделитель запятая), через которых доступен сервис O_BS_EXCHANGE
ipfilter=127.0.0.1,1*****

#XSL шаблон
xslpath=/opt/bssproxy/xsl/

#форматы, которые маршрутизируются в АБС
cbsformats=CREDITLIST,INFODOP,NOTIFY,OPENACC,PUCHECK,CREDITPAY,CHECKPAY,OPENDEPOSIT,ACCLIST,INFODOP2,PDCEXT,OUTBOX,CCRATES,STM,PDCREQ,PDRREQ,ACCDEP

#форматы, которые маршрутизируются в ПС24. Требуется наличие XSL шаблонов
capformats=CCONV,PDC,PUPAY,ACCACC,PDR,CARDACC
